<header id="header" class="navbar">
    <div class="container">
        <div class="left">
            <a class="brand" href="/">Encurta.ae</a>
        </div>
        <div class="right">
            <nav id="menu" class="navbar-nav">
                <a class="nav-link" href="/about">Sobre</a>
            </nav>
            <button
                type="button"
                id="btn_drawer_toggle"
                data-toggle="#drawer"
                class="btn btn-action btn-drawer-toggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
    <nav id="drawer" class="drawer-navigator hidden">
        <a class="nav-link" href="/about">Sobre</a>
    </nav>
</header>