<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow">
        <meta name="description" content="Encurte URLs de forma descomplicada">
        <meta name="keywords" content="encurtador, url, url curta, link, encurtar url, encurtar link, encurtador gratis, encurtaae">
        <meta name="author" content="Felipe Santana">
        <meta name="copyright" content="© 2021 Encurta.ae">
        <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>Encurta.ae</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <%- include('./includes/header') %>
        <main class="container container-centered">
            <img class="img-page-banner" src="images/404.png" alt="Página não encontrada">
            <small><a href='https://www.freepik.com/vectors/website'>Website vector created by stories - www.freepik.com</a></small>

            <h1 class="c-white mt-3">Página expirada ou não encontrada!</h1>

            <a class="btn btn-primary btn-wd-lg mt-3" href="/">Voltar ao início</a>
        </main>
        <%- include('includes/footer') %>
    </body>
</html>