<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index,nofollow">
        <meta name="description" content="Encurte URLs de forma descomplicada">
        <meta name="keywords" content="encurtador, url, url curta, link, encurtar url, encurtar link, encurtador gratis, encurtaae">
        <meta name="author" content="Felipe Santana">
        <meta name="copyright" content="© 2021 Encurta.ae">
        <title>Encurta.ae - Sobre</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <%- include('./includes/header') %>
        <main class="container container-centered">
            <h1 class="c-white">Sobre</h1>
            
            <article id="about" class="mt-3 c-white">
                <p>Encurta.ae é uma aplicação web para encurtamento de URLs de forma temporária.</p>
            </article>

            <h2 class="mt-3 c-white txt-center">Desenvolvido por <a href="https://github.com/santanafelipe98" class="dev-profile">Felipe Santana</a></h2>
        </main>
        <%- include('includes/footer') %>
        <script src="js/drawer.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FWTR45M64G"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FWTR45M64G');
        </script>
    </body>
</html>