<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow">
        <meta name="description" content="Encurte URLs de forma descomplicada">
        <meta name="keywords" content="encurtador, url, url curta, link, encurtar url, encurtar link, encurtador gratis, encurtaae">
        <meta name="author" content="Felipe Santana">
        <meta name="copyright" content="© 2021 Encurta.ae">
        <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>Encurta.ae - Preparando URL...</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <%- include('./includes/header') %>
        <main class="container container-centered">
            <div id="detect" class="ads ad adsbox doubleclick ad-placement carbon-ad"></div>
            <div id="adsense_container" class="adsense">
                <!-- redirecionador topo -->
                <ins class="adsbygoogle"
                    style="display:block;background:#ccc"
                    data-ad-client="ca-pub-7353616832067160"
                    data-ad-slot="7460111136"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <div id="result_container" class="container-centered">
                <div id="counter" class="mt-1">
                    <h2 id="message" class="c-white txt-lg">Aguarde...</h2>
                    <div id="remaining_time" class="txt-xl txt-strong txt-center mt-1 c-white"></div>
                </div>
    
                <div id="original_url" class="mt-2 c-white"></div>
    
                <button
                    type="button"
                    disabled
                    id="btn_access_url"
                    class="btn btn-primary btn-wd-lg mt-3 hidden"
                    value="<%= data.originalURLBase64 %>">
                    Acessar
                </button>
            </div>

            <div id="adblock_advice" class="container-centered hidden">
                <img src="images/ad_blocker.png" alt="Ícone Anti-AdBlock">
                <small class="mt-1"><div>Icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></small>
                <h1 class="c-white txt-center mt-3">Por favor, desative o AdBlock e recarregue a página.</h1>
            </div>
        </main>
        <%- include('includes/footer') %>
        <script src="js/redirect.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FWTR45M64G"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FWTR45M64G');
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7353616832067160"
            crossorigin="anonymous"></script>
    </body>
</html>